<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        #main_form {
            width: 450px;
            text-align: center;
            margin: 100px 200px;
        }
        .example_c{
            text-transform: uppercase;
            text-decoration: none;
            padding: 20px;
            display: inline-block;
            color: #ffffff ;
            background: #f6b93b;
            border-color: #f6b93b;
            transition: all 0.4s ease 0s;
        }
    </style>
</head>

<body>
    <div id="main_form">
        <h1>Forgot your password?</h1>
        <p>You told us you forgot your password. If you really did, click the button below to choose the new one:</p>
        <a href="http://localhost:8080/changePassword?token=<%=token%>"><button class="example_c">Choose a new password</button></a>
        <p>If you didn't mean to reset your password, just ignore this email, your password will remain the same.</p>
    </div>
</body>